<template>
    <div class="Layout __layoutName__">
        <Nuxt />
    </div>
</template>

<script>
export default {
    name: '__layoutName__',
}
</script>

<style lang="scss" scoped>
.__layoutName__ {}
</style>
