<template>
    <main class="Page __pageName__">

    </main>
</template>

<script>
export default {
    name: '__pageName__',

    async asyncData({ $api }) {
        const data = await $api.module.method();

        return {
            data,
        }
    },
}
</script>

<style lang="scss" scoped>
.__pageName__ {}
</style>
