@import 'tailwindcss/base';
@import 'tailwindcss/utilities';

@import './transitions';

@layer base {
    body {
        @apply font-body text-black-500;
        font-family: theme('fontFamily.body');
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        overscroll-behavior: contain; // Disable pull to reload
        background: #FAFAFA;
    }

    * {
        -webkit-tap-highlight-color: transparent;
    }

    input, textarea, select, button {
        @apply outline-none;

        &:focus, &:active {
            @apply outline-none;
        }
    }

    .container {
        @apply mx-auto px-4;

        @screen md {
            @apply px-12;
            width: 95%;
        }

        @screen lg {
            max-width: 1440px;
        }
    }

    h1, h2, h3, h4, h5, h6 {
        font-family: theme('fontFamily.heading');
    }

    p {
        @apply text-gray-400;
    }

    p a {
        @apply text-primary underline;
    }

    h1 {
        font-weight: bold;
        font-size: 28px;
        line-height: 32px;
    }

    h2 {
        font-weight: bold;
        font-size: 24px;
        line-height: 28px;
    }

    h3 {
        font-weight: bold;
        font-size: 18px;
        line-height: 20px;
    }
}

