<template>
    <div class="Component __componentName__">

    </div>
</template>

<script>
export default {
    name: '__componentName__',

    data() {
        return {}
    },

    methods: {},

    computed: {},
}
</script>

<style lang="scss" scoped>
.__componentName__ {}
</style>
