<template>
    <div id="DefaultLayout">
        <GlobalAppHeader />

        <div class="h-full">
            <Nuxt />
        </div>

        <PortalTarget name="mobile-menu"></PortalTarget>
        <PortalTarget name="modals"></PortalTarget>
    </div>
</template>

